{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_talentum/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{> theme_talentum/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid pt-5 mt-0 talentum-animated-area">
            
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12 h-100" aria-label="{{#str}}content{{/str}}">
                <div class="login-wrapper">
                    <div class="login-container text-center">
                    <img src="{{img_logo}}" class="talentum-img-cube w-50 mb-4"/>
                    <p class="talentum-login-text"> Welcome to TEO, a space to learn English together. Type your personal data.</p>

                    {{{ output.main_content }}}
                    </div>
                </div>
                </section>
            </div>
        </div>
    </div>

    <button class="btn btn-icon bg-secondary icon-no-margin btn-login-fixed" id="showlogin">
                <i class="icon fa fa-user fa-fw " aria-hidden="true"></i>
    </button>
    {{> theme_talentum/footer }}
</div>
 <script>
document.getElementById('login').style.display='none';
document.getElementById('loginlogo').style.display='none';
document.getElementById('showlogin').addEventListener("click", function(){ 
    let login = document.getElementById('login');
    if(login.style.display == 'block'){
           login.style.display='none';
    }else{
        login.style.display='block';
    }
    
    document.getElementById('loginlogo').style.display='block';
    document.getElementById('btn-login-admin').style.display='none';
    });

</script>
</body>
</html>
{{#js}}
M.util.js_pending('theme_talentum/loader');
require(['theme_talentum/loader'], function() {
  M.util.js_complete('theme_talentum/loader');
});
{{/js}}
